{% extends "main.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}

<div class="container">

  <h1>{{ htitle }}</h1>

  <a href="{{ link }}"><h4>Redirection</h4></a>

  <div class="progress indigo">
    <div class="indeterminate"></div>
  </div>
</div>

{% endblock content %}

{% block script %}

<!-- Redirection script -->
<script>
  function redirection()
  {
    document.location.href="{{ link }}";
  }

  window.setTimeout(redirection, 3500);
</script>

{% endblock script %}
