{% extends "main.html" %}
{% load static %}

{% block title %}Utilisateurs{% endblock title %}

{% block content %}

<!-- list by job -->
{% if userListJob %}

{% regroup userListJob by userJob.name as user_job_list %}

{% for users_by_job in user_job_list %}

<h5>{{ users_by_job.grouper }}</h5>

<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Date de sortie</th>
      <th>Informations</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users_by_job.list %}

	{% if user.entryDate %}
		{% if user.entryDate > today %}
			<tr class="green white-text">
		{% elif user.outDate %}
			{% if user.outDate < today %}
				<tr class="red white-text">
			{% else %}
				<tr class="orange white-text">
			{% endif %}
		{% else %}
			<tr>	
		{% endif %}
	{% elif user.outDate %}
		{% if user.outDate < today %}
				     <tr class="red white-text">
		{% else %}
				     <tr class="orange white-text">
		{% endif %}
	{% else %}
		<tr>
	{% endif %}

      <td>{{ user.name }}</td>
      <td>{{ user.forname }}</td>
      <td>{{ user.email | default:"x" }}</td>
	<td>{{ user.outDate | default:"x" }}</td>
	<td>
	  <a class="waves-effect waves-light btn indigo" href="/user/{{user.pk}}">
	    Lien<i class="material-icons right">send</i>
	  </a>
	</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
    {% endfor %}

{% else %}

Aucun utilisateur n'est enregistré pour le moment

{% endif %}

{% endblock content %}