{% extends "main.html" %}
{% load static %}

{% block title %}
Edition d'utilisateur
{% endblock title %}

{% block content %}

<h4> Edition d'utilisateur </h4>
<br>
<form	action='{% url 'core:user_edit' user_id %}'
		method='post'
		class='user_edit'>

  {% csrf_token %}

  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">account_circle</i>
      {{ form.name }}
      <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">account_circle</i>
      {{ form.forname }}
      <label for="{{ form.forname.id_for_label }}">{{ form.forname.label }}</label>
    </div>
  </div>
  <div class="input-field row">
    <i class="material-icons prefix">email</i>
    {{ form.email }}
    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
  </div>
  <div class="input-field row">
    <i class="material-icons prefix">vpn_key</i>
    {{ form.oAuthKey }}
    <label for="{{ form.oAuthKey.id_for_label }}">{{ form.oAuthKey.label }}</label>
  </div>
  <div class="input-field row">
    <i class="material-icons prefix">date_range</i>
    <input type="date"
	   class="datepicker"
	   name="{{ form.entryDate.name }}"
	   id="{{ form.entryDate.id_for_label }}"
	   {% if form.entryDate.value != None %}
	   value="{{ form.entryDate.value | stringformat:'s' }}"
	   {% endif %}
	   >
    <label for="{{ form.entryDate.id_for_label }}">{{ form.entryDate.label }}</label>
  </div>
  <div class="input-field row">
    <i class="material-icons prefix">date_range</i>
    <input type="date"
	   class="datepicker"
	   name="{{ form.outDate.name }}"
	   id="{{ form.outDate.id_for_label }}"
	   {% if form.entryDate.value != None %}
	   value="{{ form.outDate.value | stringformat:'s' }}"
	   {% endif %}
	   >
    <label for="{{ form.outDate.id_for_label }}">{{ form.outDate.label }}</label>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">group</i>
      {{ form.userRole }}
      <label for="{{ form.userRole.id_for_label }}">{{ form.userRole.label }}</label>
    </div>
    <div class="input-field col s12 m6">
      <i class="material-icons prefix">assignment_ind</i>
      {{ form.userJob }}
      <label for="{{ form.userJob.id_for_label }}">{{ form.userJob.label }}</label>
    </div>
  </div>

   <button class="btn btn-submit waves-effect waves-light indigo right" type="submit" name="action">Enregistrer
    <i class="material-icons right">send</i>
  </button>
</form>

    <a href='{% url 'core:user_info' user_id %}'>
      <button class="btn waves-effect waves-light red left">Annuler
	<i class="material-icons left">cancel</i>
      </button>
    </a>
{% endblock content %}

{% block script %}

<!-- Selection form -->
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<!-- Datepicker form -->
<script src="{% static "js/load/load_datepicker_fr.js" %}">
</script>

<script src="{% static "js/form_button.js" %}">
</script>

<script>
	set_form_checker('.user_edit');
</script>
{% endblock script %}
