{% extends "main.html" %}
{% load static %}


{% if user.name %}

{% block title %}{{user.forname}} {{user.name}} - Info{% endblock title%}

{% block content %}
<br>
<div class="card indigo darken-1">
  <div class="card-content white-text">
    <span class="card-title"><h4>{{user.forname}} {{user.name}}</h4></span>
    <br>
    <div class="card-action"></div>
    <div class="row">
      <h5>Informations personnelles:</h5>
      <br>
      <div class="col s12 m6">
	<strong><U>Role:</U></strong> {{user.userRole.name | default:"Non fournis"}}<br>
	<strong><U>Date d'entrée:</U></strong> {{user.entryDate | default:"Non fournis"}}<br>
	<strong><U>Nom du poste:</U></strong> {{user.userJob.name }}<br>
      </div>
      <div class="col s12 m6 right">
	<strong><U>Email:</U></strong> {{user.email | default:"Non fournis"}}<br>
	<strong><U>Date de sortie:</U></strong> {{user.outDate | default:"Non connue"}}<br>
      </div>
    </div>
  </div>
  <div class="card-action">
    <div class="row white-text">
      <h5>Objets</h5>
      <br>

      <div class="col s12 l6">

	  <div class="card-panel white">
            <span class="indigo-text">
	      I am a very simple card. I am good at containing small bits of information.<br>
	      I am convenient because I require little markup to use effectively.<br>
	      I am similar to what is called a panel in other frameworks.<br>
            </span>
	    <div class="card-action">
	      <a class="" href="#">Description</a>
	      <a class="right" href="#">Formulaire de remise</a>
	    </div>
	  </div>

      </div>

      <div class="col s12 l6">

      </div>

    </div>
  </div>
  <div class="card-action">
    <a class="right white-text delete" href="/user/{{ user.pk}}/delete">
      <button class="btn waves-effect waves-light red right">
	Supprimer
      </button>
    </a>
    <a class="indigo-text" href="/user/{{ user.pk }}/edit">
      <button class="btn waves-effect waves-light indigo-text white left">
	Editer
      </button>
    </a>
  </div>
  <br>
</div>

{% endblock content %}

{% block script %}

<!-- Are you sure popup -->
<script>
  $(document).ready(function() {
  $('.delete').click(function() {
  if (confirm('Êtes vous sûr ?')) {
  var url = $(this).attr('href');
  $('#content').load(url);
  }
  });
});
</script>

{% endblock script %}

{% endif %}
