{% extends "main.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock head %}

{% block title %}Liste des utilisateurs{% endblock title %}

{% block content %}

<br>
<h4>{{ listName }}</h4>
<br>
<!-- tabs -->
<div class="row">
    <div class="col s12">
      <ul class="tabs indigo">
        <li class="tab col s4">
	  <a class="active white-text" href="#main">Générale</a>
	</li>
        <li class="tab col s4">
	  <a class="white-text" href="#by_role">Par rôle</a>
	</li>
        <li class="tab col s4">
	  <a class="white-text" href="#by_job">Par job</a>
	</li>
      </ul>
    </div>
</div>

{% include "./user_list/all.html" %}
{% include "./user_list/by_job.html" %}
{% include "./user_list/by_role.html" %}

<br>

{% endblock content %}

{% block script %}
<!-- tabs script -->
<script>
  $(document).ready(
  function()
  {
  $('.tabs').tabs(
  {
  });
  }
  );
</script>
{% endblock script %}
