{% if objects %}

{% for objectList in objects %}

<h2>{{ objectList | first }} <h2>

<table border=1>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Proprietaire</th>
      <th>Etat</th>
    </tr>
  </thead>
  <tbody>
    {% for object in objectList %}
    <tr>
      <td> {{ object.name }} </td>
      <td> {{ object.user.forname }} {{ object.user.name }} </td>
      <td> Bon </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}

{% else %}

<h1> Aucun contenu disponible </h1>

{% endif %}
